{% extends '../base.html.twig' %}

{% block title %}Search {% endblock %}

{% block body %}
    <h3>
        Search Books
    </h3>

    <input type="search" class="form-control"
        name="search" placeholder="Begin typing to search Books..."
        hx-post="/profile/search/api"
        hx-trigger="keyup changed delay:250ms, search"
        hx-target="#search-results"
        >
    <div id="search-results"></div>
{% endblock %}